<!-- header section start -->
<div class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand"href="index.html"><img src="images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Vehicles</a>

        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
<div class="call_text_main">
  <div class="container">
    <div class="call_taital">
      <div class="call_text"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_15">Ouvert de 8H à 22H</span></a></div>
      <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15">+22891455151</span></a></div>
      <div class="call_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_15">info@easycarrental.fr</span></a></div>
    </div>
  </div>
</div>
